@import 'tailwindcss';
// Import Bootstrap SCSS
@import 'bootstrap/scss/bootstrap';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Style Khusus Sidebar SFA */
body {
    overflow-x: hidden; /* Hilangkan scroll samping */
}

#wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh; /* Tinggi Full Layar */
    background: #212529; /* Warna Gelap (Bootstrap Dark) */
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #1a1e21; /* Sedikit lebih gelap buat header logo */
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #4b545c;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 12px 20px;
    font-size: 1.1em;
    display: block;
    color: #adb5bd; /* Warna teks agak abu */
    text-decoration: none;
    transition: 0.3s;
}

#sidebar ul li a:hover,
#sidebar ul li a.active {
    color: #fff;
    background: #0d6efd; /* Biru Bootstrap saat aktif */
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #fff;
    background: #0d6efd;
}

#content {
    width: 100%;
    min-height: 100vh;
    background-color: #f8f9fa; /* Abu-abu sangat muda */
}

/* Responsif untuk HP (Sidebar disembunyikan) */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
